* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
}

.App {
  width: 50%;

}

.song-list {
  text-align: left;
  margin-bottom: 20px;
}

.song {
  background-color: #61dafb;
  margin-bottom: 20px;
  
}

.song .title {
  background-color: wheat;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.heading {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
